<header>
  <mat-toolbar fxLayout="row" fxLayoutAlign="start center">
    <span style="flex: 0 0 60px"
      ><img src="./assets/img/logo-black-40.png" alt="Fusisoft"
    /></span>
    <a mat-button routerLink="/home">Cadmus Itinera</a>

    <button
      mat-button
      [matMenuTriggerFor]="itemMenu"
      *ngIf="logged && itemBrowsers"
    >
      Items
    </button>
    <mat-menu #itemMenu>
      <a mat-menu-item routerLink="/items">Items</a>
      <a
        mat-menu-item
        *ngFor="let entry of itemBrowsers"
        [routerLink]="'item-browser/' + getItemBrowserRoute(entry.id)"
        >{{ entry.value }}</a
      >
    </mat-menu>
    <ng-container *ngIf="logged && !itemBrowsers">
      <a mat-button routerLink="/items">Items</a>
    </ng-container>

    <a mat-button routerLink="/search" *ngIf="logged">Search</a>
    <a mat-button routerLink="/graph" *ngIf="logged">Graph</a>

    <a
      mat-button
      routerLink="/thesauri"
      *ngIf="
        user && (user.roles.includes('admin') || user.roles.includes('editor'))
      "
      >Thesauri</a
    >

    <span class="tb-fill-remaining-space"></span>

    <div *ngIf="user" fxLayout="row" fxLayoutAlign="start center">
      <!-- sidenav -->
      <mat-slide-toggle
        [formControl]="snavToggle"
        matTooltip="Toggle tools"
      ></mat-slide-toggle>

      <!-- indicators -->
      <img [src]="getGravatarUrl(user.email, 32)" [alt]="user.userName" />
      <mat-icon
        class="small-icon"
        *ngIf="user && user.roles.includes('admin')"
        title="admin"
        >build</mat-icon
      >
      <mat-icon
        class="small-icon"
        *ngIf="user && !user.emailConfirmed"
        title="You must verify your email address! Please check your mailbox {{
          user.email
        }}"
        >feedback</mat-icon
      >
      <!-- <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button> -->

      <!-- user menu -->
      <button mat-button [matMenuTriggerFor]="userMenu">User</button>
      <mat-menu #userMenu>
        <a mat-menu-item routerLink="/reset-password">Reset password</a>
      </mat-menu>

      <!-- admin menu -->
      <button
        *ngIf="user && user.roles.includes('admin')"
        mat-button
        [matMenuTriggerFor]="adminMenu"
      >
        Admin
      </button>
      <mat-menu #adminMenu>
        <a mat-menu-item routerLink="/manage-users">Manage users</a>
        <a mat-menu-item routerLink="/register-user">Register user</a>
      </mat-menu>
    </div>

    <div *ngIf="!logged">
      <a mat-button routerLink="/login">Login</a>
    </div>
    <div *ngIf="logged">
      <a mat-button (click)="logout()">Logout</a>
    </div>
  </mat-toolbar>
</header>

<main>
  <mat-sidenav-container>
    <mat-sidenav
      mode="side"
      [opened]="snavToggle?.value"
      style="min-height: 400px; width: 270px; padding: 4px"
    >
      <fieldset>
        <legend>cod location</legend>
        <cadmus-cod-location-converter></cadmus-cod-location-converter>
      </fieldset>
      <fieldset>
        <legend>VIAF</legend>
        <cadmus-ref-lookup
          [service]="viafService"
          linkTemplate="http://www.viaf.org/viaf/{viafid}"
          label="VIAF"
          (itemChange)="onViafItemChange($event)"
        ></cadmus-ref-lookup>
      </fieldset>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>

<footer>
  <div id="logos">
    <img src="./assets/img/unisi-64.png" alt="Università di Siena" />
    <img
      src="./assets/img/unina-64.png"
      alt="Università degli studi di Napoli"
    />
    <img
      src="./assets/img/unirm3-64.png"
      alt="Università degli studi di Roma 3"
    />
    <img
      src="./assets/img/unistrapg-64.png"
      alt="Università per stranieri di Perugia"
    />
  </div>
  <div id="info">
    <p>
      <a
        href="https://www.unisi.it/ricerca/finanziamenti-prin/petrarch%E2%80%99s-itinera-italian-trecento-intellectual-network-and-european"
        target="_blank"
        >Petrarch's Itinera Project</a
      >
    </p>
    <p>
      Cadmus by
      <a href="https://www.fusisoft.net" target="_blank">Daniele Fusi</a>
      <br />
      version {{ version }}
    </p>
  </div>
</footer>
