.active {
  font-size: 100% !important;
}

mat-icon.small-icon {
  font-size: 85% !important;
  margin-left: 8px;
}

.tb-fill-remaining-space {
  flex: 1 1 auto;
}

footer {
  display: flex;
  flex: row wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
  border-top: 16px solid #eee;
  padding: 16px;
}
footer #logos {
  display: flex;
  flex: row nowrap;
  align-items: center;
  gap: 8px;
}
footer #info {
  color: silver;
}
footer #info a {
  color: silver;
}
